# Preprocesamiento de los datos del ministerio de educacion

## Primero cargamos las librerias que utilizaremos

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
%matplotlib inline

SMALL_SIZE = 8
MEDIUM_SIZE = 12
BIGGER_SIZE = 14

plt.rc('font', size=MEDIUM_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=BIGGER_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title
rcParams['figure.figsize'] = 8,6

## Cargamos los datos originales (transformados a csv para agilizar la carga)

In [3]:
graduandos = pd.read_csv('data/2019_graduandos.csv', na_values='#NULL!')

C:\Users\Josue\anaconda3\envs\cursoobre\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (15,159) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
graduandos.head(3)

,Cod_Estable,Cod_Evaluacion,Cantidad_Estud,Num_Boleta,Indicadores,Cod_Indicadores,Barcode,Corr_Año,Region,Cod_Region,...,Lect_Periodos_Lectura_Semana,Lect_Periodos_Lectura_Semana_RECO,Lect_Minutos_Dura_Periodo_Lectura,Lect_Minutos_Dura_Periodo_Lectura_RECO,Measure_Mate,Measure_Lect,Desempeño_Mate,Desempeño_Lect,Logro_Mate,Logro_Lect
0,00-01-0158-46,1834973389,27.0,169158,Sí,1,1834973389,19,Región 1 o Metropolitana,1,...,2,2.0,30_39,3.0,-0.62,-0.96,1.0,1.0,0.0,0.0
1,00-01-0158-46,2372697284,27.0,169160,Sí,1,2372697284,19,Región 1 o Metropolitana,1,...,Ninguno,0.0,0_19,1.0,-0.48,-0.39,1.0,1.0,0.0,0.0
2,00-01-0158-46,3006238723,27.0,169166,Sí,1,3006238723,19,Región 1 o Metropolitana,1,...,1,1.0,30_39,3.0,0.68,1.08,2.0,4.0,0.0,1.0

In [5]:
col_prob = [15,  159]
graduandos[graduandos.columns[col_prob]]

        Tel_Estable Lect_Dias_Semana_Lee_Periodicos
0          22512759                               0
1          22512759                               2
2          22512759                               0
3          22512759                               1
4          22512759                               2
...             ...                             ...
163820  5.21696e+07                               5
163821  5.21696e+07                               2
163822  5.21696e+07                               1
163823  5.21696e+07                               0
163824  5.21696e+07                               2

[163825 rows x 2 columns]

In [6]:
graduandos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163825 entries, 0 to 163824
Columns: 183 entries, Cod_Estable to Logro_Lect
dtypes: float64(134), int64(12), object(37)
memory usage: 228.7+ MB

In [7]:
graduandos.describe()

,Cod_Evaluacion,Cantidad_Estud,Num_Boleta,Cod_Indicadores,Barcode,Corr_Año,Cod_Region,Cod_Depa,Cod_Muni,Cod_Nivel,...,Lect_Libros_Completos_Ha_Leido,Lect_Libros_Completos_Ha_Leido_RECO,Lect_Periodos_Lectura_Semana_RECO,Lect_Minutos_Dura_Periodo_Lectura_RECO,Measure_Mate,Measure_Lect,Desempeño_Mate,Desempeño_Lect,Logro_Mate,Logro_Lect
count,1.638250e+05,163825.000000,163825.000000,163825.000000,1.638250e+05,163825.0,163825.000000,163825.000000,163825.000000,163825.0,...,162264.000000,162264.000000,163825.000000,163825.000000,163825.000000,163825.000000,163825.000000,163825.000000,163825.000000,163825.000000
mean,5.010374e+09,134.196460,240703.552675,1.082039,5.010374e+09,19.0,3.596331,7.537275,760.492373,46.0,...,1.839589,1.172712,2.010566,2.306882,0.106597,0.291235,1.669782,2.260107,0.132959,0.366171
std,2.886394e+09,246.643771,53980.081942,0.393380,2.886394e+09,0.0,2.341337,7.009038,700.049201,0.0,...,1.682940,0.924575,2.039250,1.674282,0.972430,0.918038,0.906812,1.166629,0.339531,0.481759
min,6.146500e+04,1.000000,150001.000000,1.000000,6.146500e+04,19.0,1.000000,0.000000,1.000000,46.0,...,0.000000,0.000000,0.000000,0.000000,-5.000000,-5.330000,1.000000,1.000000,0.000000,0.000000
25%,2.508710e+09,33.000000,195652.000000,1.000000,2.508710e+09,19.0,1.000000,1.000000,108.000000,46.0,...,1.000000,1.000000,0.000000,1.000000,-0.480000,-0.360000,1.000000,1.000000,0.000000,0.000000
50%,5.013360e+09,71.000000,240810.000000,1.000000,5.013360e+09,19.0,4.000000,6.000000,604.000000,46.0,...,1.000000,1.000000,1.000000,3.000000,-0.070000,0.140000,1.000000,2.000000,0.000000,0.000000
75%,7.507602e+09,140.000000,284804.000000,1.000000,7.507602e+09,19.0,6.000000,13.000000,1301.000000,46.0,...,3.000000,2.000000,3.000000,3.000000,0.500000,0.790000,2.000000,3.000000,0.000000,1.000000
max,9.999961e+09,1764.000000,550451.000000,3.000000,9.999961e+09,19.0,8.000000,22.000000,2217.000000,46.0,...,7.000000,4.000000,9.000000,8.000000,6.030000,5.350000,4.000000,4.000000,1.000000,1.000000

In [12]:
graduandos['Indicadores'].value_counts()

Sí    157318
No      6507
Name: Indicadores, dtype: int64

In [13]:
graduandos = graduandos[graduandos['Indicadores']=='Sí']

In [14]:
graduandos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157318 entries, 0 to 163824
Columns: 183 entries, Cod_Estable to Logro_Lect
dtypes: float64(134), int64(12), object(37)
memory usage: 220.8+ MB

In [15]:
col_ignorar = ['Cod_Estable', 'Cod_Evaluacion','Cantidad_Estud','Num_Boleta','Indicadores','Barcode','Corr_Año',
               'Region','Departamento','Municipio','Cod_Muni','Direc_Estable','Tel_Estable','Nivel','Cod_Nivel',
               'Rama_Abstracta','Fecha_Nacimiento',
               'Edad','Area','Jornada','Ciclo','Cod_Ciclo','Cod_Distrito','Año_Cierre',
               'Ed_Repitio_Algun_Grado_Primaria','Ed_Que_Grados_Repitio','Ed_Trabaja_Actualmente','CC_Material_Predomina_En_Piso_Casa',
               'CC_Material_Predomina_En_Paredes_Casa','CC_Material_Predomina_En_Techo_Casa','CC_Como_Obtiene_El_Agua_Para_Lavar','CC_Agua_Utiliza_Para_Beber',
               'CC_Combustible_Utiliza_Cocina','CC_Electrodomesticos','CC_Tipo_Sanitarios','CC_Como_Se_Moviliza_Usualmente',
               'CC_Tiempo_Casa_Al_Establecimiento','Cc_Cuantos_Niveles_Construccion_Casa','Cc_Cuantos_Dormitorios_Hay_En_Casa','Cc_Cuantas_Personas_Viven_En_Casa',
               'Tec_Periodos_Semana_Utiliza_Computadora','Tec_Horas_Diarias_Uso_Compu_Estab','Tec_Horas_Diarias_Uso_Compu_Casa','Mate_Periodos_Matematicas_Semana',
               'Mate_Minutos_Dura_Periodo_Matematicas','Lect_Dias_Semana_Lee_Periodicos','Lect_Periodico_Prefiere_Leer','Lect_Libros_Completos_Ha_Leido',
               'Lect_Periodos_Lectura_Semana','Lect_Minutos_Dura_Periodo_Lectura','Measure_Mate','Measure_Lect','Desempeño_Mate','Desempeño_Lect'
]

In [16]:
graduandos_filtrado = graduandos.drop(col_ignorar, axis=1)

In [17]:
graduandos_filtrado.head()

,Cod_Indicadores,Cod_Region,Cod_Depa,Cod_Rama_Abstracta,Edad_Reco,Sexo_Reco,Cod_Area,Cod_Jornada,Etnia_Reco,Identificacion_Etnica_RECO,...,Lc_Diario_Centroamerica,Lc_Al_Dia,Lc_La_Hora,Lc_Publinews,Lc_Otro,Lect_Libros_Completos_Ha_Leido_RECO,Lect_Periodos_Lectura_Semana_RECO,Lect_Minutos_Dura_Periodo_Lectura_RECO,Logro_Mate,Logro_Lect
0,1,1,0,3,3.0,1.0,11,33,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,0.0
1,1,1,0,3,5.0,1.0,11,33,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,1,0,3,3.0,1.0,11,33,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,1.0
3,1,1,0,3,3.0,1.0,11,33,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,5.0,3.0,0.0,1.0
4,1,1,0,3,3.0,1.0,11,33,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [18]:
graduandos_filtrado.describe()

,Cod_Indicadores,Cod_Region,Cod_Depa,Cod_Rama_Abstracta,Edad_Reco,Sexo_Reco,Cod_Area,Cod_Jornada,Etnia_Reco,Identificacion_Etnica_RECO,...,Lc_Diario_Centroamerica,Lc_Al_Dia,Lc_La_Hora,Lc_Publinews,Lc_Otro,Lect_Libros_Completos_Ha_Leido_RECO,Lect_Periodos_Lectura_Semana_RECO,Lect_Minutos_Dura_Periodo_Lectura_RECO,Logro_Mate,Logro_Lect
count,157318.000000,157318.000000,157318.000000,157318.000000,157302.000000,157314.000000,157318.000000,157318.000000,156347.000000,157318.000000,...,157318.000000,157318.000000,157318.000000,157318.000000,157318.000000,155855.000000,157318.000000,157318.000000,157318.000000,157318.000000
mean,1.002708,3.618518,7.604959,1.794849,3.146552,0.489836,11.113579,32.016533,1.771208,1.767064,...,0.005142,0.006693,0.002104,0.019693,0.051259,1.170697,2.014874,2.301269,0.135579,0.370320
std,0.051967,2.338830,7.011708,1.025960,1.525761,0.499898,0.317300,0.849186,0.551314,0.581465,...,0.071526,0.081539,0.045821,0.138942,0.220527,0.922827,2.041783,1.669499,0.342342,0.482892
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,11.000000,31.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,11.000000,31.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
50%,1.000000,4.000000,6.000000,1.000000,3.000000,0.000000,11.000000,32.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,0.000000,0.000000
75%,1.000000,6.000000,13.000000,3.000000,4.000000,1.000000,11.000000,33.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,3.000000,0.000000,1.000000
max,2.000000,8.000000,22.000000,4.000000,6.000000,1.000000,12.000000,35.000000,5.000000,6.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,1.000000,1.000000

In [19]:
col_con_nulos=[]
for col in graduandos_filtrado.columns:
    numero_nulos = graduandos_filtrado[col].isnull().sum()
    if numero_nulos > 0:
        col_con_nulos.append(col)
        print('{}: {}'.format(col, numero_nulos))

Edad_Reco: 16
Sexo_Reco: 4
Etnia_Reco: 971
Ed_Asistio_Preprimaria: 506
Fm_Asistio_Escuela_Papa: 1123
Fm_Asistio_Escuela_Mama: 906
CC_Electricidad: 219
CC_Ambiente_Cocina_Separada: 507
CC_Cuenta_Linea_Telefonica: 947
CC_Tiene_Familia_Celular: 323
CC_Servicio_Tv_Cable: 349
CC_Servicio_Internet: 696
CC_Familia_Automovil: 916
Cc_Casa_Donde_Vive_Familia: 959
Cc_Recibe_Remesas: 1688
Tec_Poseen_Comp_Estable_Uso_Alumnos: 400
Tec_Utiliza_Computadora_Realizar_Tareas_Estable: 1595
Tec_Utiliza_Internet_Para_Investigaciones: 2476
Tec_Recibido_Curso_Computacion: 3330
Lect_Libros_Completos_Ha_Leido_RECO: 1463

Analizando los datos nulos, uno por uno decidimos que hacer con ellos. En general opte por la forma mas simple de sustituir los datos nulos:

- **Etnia_Reco**: 0 ahora se vuelve 'Sin Respuesta'
- **Lect_Libros_Completos_Ha_Leido_RECO**: 9 (Sin Respuesta)

Para el resto usare el valor de la moda (clase mayoritaria o valor mas frecuente)

- **Edad**: Edad mas frecuente
- **Sexo_Reco**: La clase mayoritaria
- **Ed_Asistio_Preprimaria**: La clase mayoritaria
- **Fm_Asistio_Escuela_Papa**: la clase mayoritaria
- **Fm_Asistio_Escuela_Mama**: la clase mayoritaria
- **CC_Electricidad**: la clase mayoritaria
- **CC_Ambiente_Cocina_Separada**: la clase mayoritaria
- **CC_Cuenta_Linea_Telefonica**: la clase mayoritaria
- **CC_Tiene_Familia_Celular**: la clase mayoritaria
- **CC_Servicio_Tv_Cable**: la clase mayoritaria
- **CC_Servicio_Internet**: la clase mayoritaria
- **CC_Familia_Automovil**: la clase mayoritaria
- **Cc_Casa_Donde_Vive_Familia**: la clase mayoritaria
- **Cc_Recibe_Remesas**: la clase mayoritaria
- **Tec_Poseen_Comp_Estable_Uso_Alumnos**: la clase mayoritaria
- **Tec_Utiliza_Computadora_Realizar_Tareas_Estable**: la clase mayoritaria
- **Tec_Utiliza_Internet_Para_Investigaciones**: la clase mayoritaria
- **Tec_Recibido_Curso_Computacion**: la clase mayoritaria

In [20]:
for col in col_con_nulos:
    if col == 'Etnia_Reco':
        graduandos_filtrado[col]=graduandos_filtrado[col].fillna(0)
    elif col == 'Lect_Libros_Completos_Ha_Leido_RECO':
        graduandos_filtrado[col]=graduandos_filtrado[col].fillna(9)
    else:  
        graduandos_filtrado[col] = graduandos_filtrado[col].fillna(graduandos_filtrado[col].mode().iloc[0])

In [21]:
graduandos_filtrado.to_csv('data/graduandos_2019_filtrado.csv')